<%- include('../includes/header.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main class="my-5">
            <h1 class="display-5 fw-bold lh-1 mb-5 text-center">Add New Product</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form class="product-form" action="/admin/add-product" method="POST">
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="title" id="title" placeholder="Title">
                                <label for="title">Title</label>
                            </div>


                            <div class="form-floating mb-3">
                                <input class="form-control" placeholder="Image" type="text" id="imageUrl" name="imageUrl" id="title">
                                <label for="imageUrl">Image Url</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input step="0.01" class="form-control" placeholder="R" type="number" name="price" id="price">
                                <label for="price">Price</label>
                            </div>


                            <div class="form-floating mb-3">
                                <input class="form-control" placeholder="Label" type="text" name="label" id="label">
                                <label for="label">Label</label>
                            </div>


                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="description" id="description" style="height: 100px"></textarea>
                                <label for="descripion">Description</label>
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-primary" type="submit">Add Product</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../includes/footer.ejs') %>