<%- include('includes/header.ejs') %>
    <%- include('includes/nav.ejs') %>
        <main class="container my-5">
            <h3 class="text-center">Page not Found</h3>
        </main>
        <%- include('includes/footer.ejs') %>