<%- include('../includes/header.ejs') %>
    <%- include('../includes/nav.ejs') %>
        <main class="container my-5">
            <span>This example is for the article of progressive web apps written for LogRocket</span>
            <br>
            <span>You are now</span> <span><b class="page-status">online</b></span>

        </main>
        <%- include('../includes/footer.ejs') %>